{% load static %}
{% load treemenu_tags %} <!-- загружаем наш Template Tag -->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}DJ TREE MENU{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'treemenu/css/style.css' %}">
</head>
<body>
    <header>
        {% block header %}
        <h1>BASE</h1>
        {% endblock %}
    </header>

    <nav>
        {% block nav %}
        <ul>
            <!-- Используем наш Template Tag menu_links и передаем список меню -->
            {% menu_links menu_list %}
        </ul>
        {% endblock %}
    </nav>

    <main>
        {% block content %}
        <p>Page content goes here.</p>
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        <p>DJ TREE MENU</p>
        {% endblock %}
    </footer>
</body>
</html>
